@{
    ViewBag.Title = "About";
}

<div class="hrimg-1">

    <img class="hrimg-1" src="~/img/hr_photo01.png" alt="hr_photo01" />
</div>


<div class="jumbotron">
    <div class="row">
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                @*<div class="card-header">Header</div>*@
                <div class="card-body">
                    <img class="centerhr" src="~/img/icon1.png" alt="hr_photo01" />
                    <h4 class="card-title text-xl-center">Online platform</h4>
                    <p class="card-text text-xl-center">A convinient and quick method solution to manage your organisation activities.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                @*<div class="card-header">Header</div>*@
                <div class="card-body">
                    <img class="centerhr" src="~/img/icon2.png" alt="hr_photo01" />
                    <h4 class="card-title text-xl-center">Data warehouses</h4>
                    <p class="card-text text-xl-center">Reliable and safe method for mentaning your data.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                @*<div class="card-header">Header</div>*@
                <div class="card-body">
                    <img class="centerhr" src="~/img/icon3.png" alt="hr_photo01" />
                    <h4 class="card-title text-xl-center">Monitorized personal profiles </h4>
                    <p class="card-text text-xl-center">User profiles for each employee with access rights assigned acording to roles</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                @*<div class="card-header">Header</div>*@
                <div class="card-body">
                    <img class="centerhr" src="~/img/icon1.png" alt="hr_photo01" />
                    <h4 class="card-title text-xl-center">Enrolment platform</h4>
                    <p class="card-text text-xl-center">Offers information about career oppurtunities and receives data about applicants.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                @*<div class="card-header">Header</div>*@
                <div class="card-body">
                    <img class="centerhr" src="~/img/icon2.png" alt="hr_photo01" />
                    <h4 class="card-title text-xl-center">Company development monitoring</h4>
                    <p class="card-text text-xl-center">Offers statistics and data about the context of organisation's development.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                @*<div class="card-header">Header</div>*@
                <div class="card-body">
                    <img class="centerhr" src="~/img/icon3.png" alt="hr_photo01" />
                    <h4 class="card-title text-xl-center">Communication</h4>
                    <p class="card-text text-xl-center">Viable methods of sharing information.</p>
                </div>
            </div>
        </div>
    </div>
</div>

