@{
    ViewBag.Title = "CVs";
}


<div class="bs-docs-section" style="margin-top: 3em">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12" style="padding-left: 0px">
                <h1 id="employees">Career applicants</h1>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 2em">

        <table class="table">
            <tr class="table-primary">
                <th>
                    Name
                </th>
                <th>
                    Date
                </th>
                <th>
                    CV
                </th>

                <th></th>
            </tr>

            <tr class="table-light">
                <td>
                    Anastasia Diacon
                </td>
                <td>
                    01/05/2019
                </td>
                <td>
                    <img style="width: 20px; height:20px" src="~/img/icons/doc_icon.png" />
                    AD_CV.docx
                </td>

                <td>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-success">Download</button>
                        <button type="button" class="btn btn-outline-warning">Delete</button>
                    </div>

                </td>
            </tr>

            <tr class="table-light">
                <td>
                    Andrei Iacovlev
                </td>
                <td>
                    29/05/2019
                </td>
                <td>
                    <img style="width: 20px; height:20px" src="~/img/icons/doc_icon.png" />
                    CV.docx
                </td>

                <td>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-success">Download</button>
                        <button type="button" class="btn btn-outline-warning">Delete</button>
                    </div>

                </td>
            </tr>


        </table>
    </div>


</div>
