@{
    ViewBag.Title = "Stats";
}

<br />





<div class="jumbotron">
    <div class="row">
        <div class="col-lg-6">
            <h2>The distribution of employees by departments </h2>
            <br />
            <p>Employees:</p>
            <p>Human Resources - 2</p>
            <p>Marketing - 4</p>
            <p>Logistics - 3</p>
        </div>
        <div class="col-lg-6">
            <div id="piechart"></div>

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script type="text/javascript">
                // Load google charts
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);

                // Draw the chart and set the chart values
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['Task', 'Employee distribution'],
                        ['Human Resources', 2],
                        ['Marketing', 4],
                        ['Logistics', 3]
                    ]);

                    // Optional; add a title and set the width and height of the chart
                    var options = { 'title': 'Employee distribution', 'width': 550, 'height': 400 };

                    // Display the chart inside the <div> element with id="piechart"
                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                    chart.draw(data, options);
                }
            </script>






        </div>
    </div>

       
</div>

