
@{
    ViewBag.Title = "CertDet";
}

<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">
            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">

                        <img src="~/img/admin_profile.png" style="width:100%" alt="Avatar">
                        @*<div class="w3-display-bottomleft w3-container w3-text-black">
                            <h2>Jane Doe</h2>
                        </div>*@
                    </div>
                    <div class="w3-container">
                        <p>
                            <img class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal" src="~/img/icons/job_icon1.png" style="height:30px" />
                            Andrei Dragos
                        </p>
                        <p>
                            <img class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal" src="~/img/icons/job_icon2.png" style="height:30px" />
                            Manager
                        </p>
                        <p>
                            <img class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal" src="~/img/icons/department_icon.png" style="height:30px" />
                            Marketing
                        </p>
                        <p>
                            <img class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal" src="~/img/icons/email_icon.png" style="height:30px" />
                            dragodrei@mail.com
                        </p>
                        <p>
                            <img class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal" src="~/img/icons/telephone_icon.png" style="height:30px" />
                            (+373)69282313
                        </p>

                        <hr>
                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">



                <div class="w3-container w3-card w3-white w3-margin-bottom" style="height: 600px">
                    <h2>Personal Profile</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#personaldata">PersonalInfo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#schedule">Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#jobdata">JobInfo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#events">Events</a>
                        </li>

                    </ul>
                    <div id="myTabContent" class="tab-content" style="margin-top: 10px">
                        <div class="tab-pane fade active show" id="about">
                            <br />
                            <p> A humble, yet industrious person, I am an average employee of company X. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>

                        <div class="tab-pane fade show" id="profile">
                            <br />
                            <p>
                                First name:
                                Andrei

                            </p>
                            <p>
                                Last name:
                                Dragos
                            </p>
                            <p>
                                Position:
                                Manager
                            </p>
                            <p>
                                Department:
                                Marketing
                            </p>
                            <p>
                                Date of employment:
                                5/28/2019
                            </p>
                            <p>
                                Email:
                                dragodrei@mail.com
                            </p>
                            <p>
                                Telephone number:
                                (+373)69282313
                            </p>
                            
                        </div>
                        <div class="tab-pane fade show" id="personaldata">
                            <br />
                            <p>
                                Date of birth:
                                01/01/1990
                            </p>
                            <p>
                                Social number:
                                0000000000000
                            </p>
                            <p>
                                Address:
                                that street
                            </p>

                        </div>
                        <div class="tab-pane fade show" id="schedule">
                            <br />
                            <p>
                                Name:
                                Standard morning shift(1hr break)
                            </p>
                            <p>
                                Start time:
                                08:00
                            </p>
                            <p>
                                End time:
                                17:00
                            </p>
                            <p>
                                Break time:
                                13:00
                            </p>
                        </div>
                        <div class="tab-pane fade show" id="jobdata">
                            <br />
                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                        </div>
                        <div class="tab-pane fade show" id="skills">
                            <br />
                            <p>
                                Languages:
                            </p>
                            <p>
                                English - proficient user
                            </p>
                            <p>
                                Romanian - native speaker
                            </p>
                        </div>
                        <div class="tab-pane fade show" id="events">
                            <br />
                            <p> Ana's birthday at 17:00 01/06/2019 </p>
                            <p>
                                Department anniversary at 17:00 03/06/2019
                            </p>
                            <p>
                                B squad meeting at 13:00 07/06/2019
                            </p>
                        </div>
                    </div>





                </div>

                

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

</body>







<div class="bs-docs-section" style="margin-top: 3em">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12" style="padding-left: 0px">
                <h1 id="employees">Employee profile</h1>
            </div>
        </div>
    </div>


    <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h4 class="card-title">Light card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>


